body {
    background-color: rgb(189, 155, 192);
    text-align: center;
    font-style:inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}

input {
    border-radius: 15px;
    border-width: 3p;
    border-color: rgb(26, 25, 133);
}

.sub {
    width: 25px;
}

img {
    width: 30%;
    height: 30%;
}

select {
    border-radius: 15px;
}

span {
    font-size: 30px;
    font-family: cursive;
 master
}